.attendance-page {
    height: 100dvh;
    width: 100vw;
    background-image: linear-gradient(#764BA2 , #667EEA);
    display: flex;
    flex-direction: column;
}

.attendance-page-block {
    height: calc(100% - 100px);
    padding: 15px;
    font-family: "Poppins", sans-serif;
    color: rgb(32, 32, 32);
    font-size: 22px;
    font-weight: bold;
    padding-top: 0;
    overflow-y: scroll;
}