.lower-menu-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lower-menu-button {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    cursor: pointer;
    z-index: 1001; /* Higher z-index to stay on top */
    position: relative;
}

.menu-transform-block {
    width: 90px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translateY(20px); /* Start slightly below */
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out, visibility 0s 0.3s;
    position: absolute;
    bottom: 80px;
    height: auto; /* Let content determine height */
    min-height: 200px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
}

.menu-transform-block.open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0s;
}

.menu-transform-block div {
    height: 80px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}