.time-table-block {
    height: 100%;
    width: 100%;
    border-style: solid;
    padding: 20px;
    padding-top: 0px;
}

.timetable-header {
    height: 70px;
    width: 100%;
    border-style: solid;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
    border-radius: 10px;
    margin-top: 15px;
    background: rgba(51, 175, 224, 0.099);
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.timetable-header div {
    height: 50px;
    width: 50px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.selected-day-btn {
    background-color: rgba(0,148,255);
    color: white;
    border-style: none;
}

.not-selected-day-btn {
    background-color: rgba(0, 149, 255, 0.209);
}

.today-day-btn {
    border-color: rgb(0, 255, 30) !important;
    border-width: 2px;
  }